page-Estacion {

}

.title-home{
  text-align: center;
  position: relative;
  top: 10px;
}

.logo{
  position: relative;
  float: left;
  width: 48px;
}

.current-user{
  position: relative;
  float: right;
}


